body,html
{
    background-color: darkgray
}

.container
{
    width: 600px;
    height: 450px;
    border: 1px solid blue;
    margin: 100px auto;
   /* margin-top: 150px;*/
    background-color: lightsteelblue;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;

}
#score, #score2
{

    border: 1px solid #3affa3;
    font-size: 15px;
    position: absolute;
    background-color: #3affa3;
    box-shadow: 0px 1px 5px;
    left: 500px;
    font-family:sans-serif;
    padding: 3px;
    border-radius: 8px;
}

#qtn, #qtn2
{
  overflow: auto;
     width: 450px;
    height: 150px;
    border: 1px solid blue;
    margin: 50px auto 10px auto;
   /* margin-top: 150px;*/
    background-color: #80c3f7;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: cursive , sans-serif;

}

#answerdiv, #answerdiv2
{
     width: 450px;
    height: 10%;
    border: 1px solid blue;
    margin: 3% 10% 4% 10%;
   /* margin-top: 150px;*/
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;
    text-align: center;
    font-size: 70px;
    font-family: cursive , sans-serif;

}

#start, #start2
{


    border: 1px solid #3affa3;
    font-size: 15px;
    position: absolute;
    background-color: #CEE9F5;
    box-shadow: 0px 1px 5px;
    top: 440px;
    left: 280px;
    font-family:sans-serif;
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #ffffff;
}

#start:hover, #start2:hover
{
 cursor: pointer;
    background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#start:active, #start2:active
{
   background-color: #9DD2EA;
    top: 445px;
    box-shadow: 0px 0px 0px ;
}

#time, #time2
{
    width: 150px;
    height: 25px;
    background-color: burlywood;
    border: 1px solid;
    position: absolute;
    left: 450px;
    top: 440px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px ;
    font-weight: bold;

}
